@import "tailwindcss";
:root{
  /* Background */  

  --bg-primary: #131313;
  --bg-secondary: #1E1E1E;
  --bg-card: #262625;
  --bg-card-hover: #303030;

  /* Accent */

  --accent: #EFD395;
  --accent-hover: #F4DEAB;

  /* Text */
  
  --text-primary: #F8F7F3;;
  --text-secondary: #BDBDBD;;
  --text-muted: #7E7E7E;

  /* Status */

  --success: #63C174;
  --warning: #F2B84b;
  --error: #D9534F;
  --info: #7BA7D9;

  /* Border */

  --border: #363636;

  /* Radius */
  
  --radius-sm: 12px;
  --radius-md: 16px;
  --radius-lg: 20px;

  /* Transition */
  
  --transition: 250ms ease;

}

body {
  margin:0;
  min-height: 100vh;

  background: var(--bg-primary);
  color: var(--text-primary);

  font-family: "Inter",sans-serif;

  transition: var(--transition);

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}


@keyframes float {
  0%{
    transform: translateY(0);
  }
  50%{
    transform: translateY(-12px);
  }
  100%{
    transform: translateY(0px);
  }
}